---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeDots from "@/components/icons/CodeDots.astro";
import Experience from "@/components/Experience.astro";
import UserHeart from "@/components/icons/UserHeart.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
---

<Layout
  title="Porfolio de alinedmooner - Desarrollador Web con más de 5 años de experiencia"
  description="Contrata a alinedmooner para crear tu aplicación web o móvil. Desarrollador Web y Docente. Especializado en crear experiencias únicas."
>
  <main class="page-main">
    <SectionContainer class="hero-section">
      <Hero />
    </SectionContainer>
    <div class="sections-stack">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeDots />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <UserHeart />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
