---
import Layout from "@/layouts/Layout.astro"
import ProjectContent from "@/components/ProjectContent.astro"
import ProjecTitle from "@/components/ProjecTitle.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Steamproject from '@/components/project_steam.astro';
import steamdata from 'src/components/Data/steamdata.json';
const steam_info={
  title: "Jupyter Notebook del Estudio Steam",
  description: "Da clic aquí para ver con el jupyter notebook y ver otros pasos como la limpieza y manejo de datos. Está comentado para hacer más fácil su legibilidad paso a paso.",
  src: "https://nbviewer.org/github/Dexinator/steam/blob/main/steam.ipynb"
}
---

<Layout   title="Estudio Steam"

description="Análisis de la librería de Steam por Jorge Badillo">
<ProjectContent>
  <ProjecTitle>Estudio Steam</ProjecTitle>
  <SectionContainer>
    <img src="videogames.webp"/>
    
  </SectionContainer:>
  <SectionContainer>
    <p>Fui contratado por un estudio de videojuegos para analizar datos de la plataforma Steam, buscando información clave para su próximo desarrollo. Les ayudé a plantear las preguntas más relevantes y obtener conclusiones.</p>
    <p>DISCLAIMER: Por motivos de protección de datos y cómo fue acordado con mi cliente, el dataset aquí presentado tiene como fecha límite MAYO 2019, 5 años menos a cuando fue realizado el estudio. Además, algunas conclusiones han sido recortadas o cambiadas del reporte final entregado. Estoy disponible para cualquier duda/aclaración :)</p>
  </SectionContainer>
  <Steamproject {...steam_info}>
  <SectionContainer>
    <p>Este análisis tuvo como objetivo contestar las siguientes preguntas:</p>
    <div class="w-full px-4 py-3 text-left text-yellow-400 break-words rounded">
      <div class="mx-auto text-xl font-semibold"><strong>Tabla de contenidos</strong></div>
      {
        steamdata.map(({titulo}) => {
          const tituloCorto = titulo.split(".")[0]; // Obtener la parte antes del primer "."
          return (
            <ul class="mt-2 list-disc px-2 pl-6">
              <li>
                <a
                  class="block hover:bg-gray-200 hover:text-black px-2 py-1 rounded"
                  href={`#${tituloCorto}`}
                >
                  {titulo}
                </a>
              </li>
            </ul>
          );
        })
      }
    </div>
  </SectionContainer>
</Steamproject>
</ProjectContent>
</Layout>