---
const personalImageAlt = "Jose Escribano";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Born in Toledo, Spain, I have been interested in computing since I
            was a child. I realized that I wanted to be a programmer when I
            discovered how video games were created.
        </p>

        <p>
            Little by little I became more immersed in this world and ended up
            studying Web Application Development and then jumped into the world
            of work, where I have been working as a <strong>
                full-stack developer for more than 6 years creating websites,
                especially e-commerce.
            </strong>
        </p>

        <p>
            I am also passionate about art, especially music, film and
            illustration, and I love everything done with the creation of
            audiovisual experiences. That is why I especially enjoy working on
            developing <strong>
               web interfaces and UX that are fully responsive and
               accessible
            </strong>. I have dedicated a good part of my work to the
            implementation of web designs for different e-commerce where
            accessibility from any type of device was extremely important
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/me_1.webp"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
