<section class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
    <!-- First Institution -->
    <div class="flex flex-col items-start gap-4">
        <img src="/UDLAP.png" alt="{institution1}" class="w-16 h-16 object-contain" />
        <h3 class="text-xl font-bold text-yellow-400">UDLAP</h3>
        <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Licenciado en Actuaría</h4>
        <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">Promedio de 8.6</time>
        <p class="text-gray-600 dark:text-gray-300">Enfocado en estadística, 12 materias, concluyendo en modelos estocásticos y series de tiempo.</p>
    </div>

    <!-- Second Institution -->
    <div class="flex flex-col items-start gap-4">
        <img src="/IEB.png" alt="{institution2}" class="w-16 h-16 object-contain" />
        <h3 class="text-xl font-bold text-yellow-400">IEB</h3>
        <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Cert. Analista Bursatil</h4>
        <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">Promedio de 9.8</time>
        <p class="text-gray-600 dark:text-gray-300">Enfocado en predicción a través de regresión lineal y series de tiempo. Análisis fundamental y técnico.</p>
    </div>

    <!-- Third Institution -->
    <div class="flex flex-col items-start gap-4">
        <img src="humboldt.png" alt="{institution2}" class="w-16 h-16 object-contain" />
        <h3 class="text-xl font-bold text-yellow-400">Colegio Humboldt</h3>
        <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Oberstufe</h4>
        <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">Promedio de 9.2</time>
        <p class="text-gray-600 dark:text-gray-300">Tomé la mitad de mis materias en alemán y me certifiqué B2 en tres años.</p>
    </div>
</section>
