---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Creador de Contenido",
    company: "Facebook",
    description:
      "Hago vídeos para youtube donde muestro un poco sobre mis habilidades como editor de video y creador de contenido. También hago directos en Tiktok donde enseño algunos trucos.",
    link: "https://www.facebook.com/CamiJc.Yt",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
