---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Web Fullstak",
    company: "Kodemia",
    description:
      "Actualmente colaboro en el desarrollo de una aplicación web utilizando el stack MERN (MongoDB, Express.js, React.js, Node.js) donde contribuyo al diseño e implementación de funcionalidades clave.",
    link: "https://www.triada.rocks/",
  },
  {
    date: "Septiembre 2017 - Actualidad",
    title: "Especialista en soporte administrativo",
    company: "Innova Print",
    description:
      "Soporte logístico, técnico y gestión de atención al cliente, control y administración de inventario con manejo de Software ERP. Uso de sitemas Service Now, HP Smart Device Services Manager, EKM Insight Portal Web Server, Microsoft Office.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
