---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Julio 2024 - Junio 2025",
    title: "Developer Fullstack Senior",
    company: "QINTESS SPA",
    description:
      "Participé en desarrollo de Sistema ATS Empresarial con herramientas Open Source de acuerdo con los lineamientos de desarrollo, buenas prácticas y estándares de calidad, aportando siempre una mirada crítica y analítica.",
    link: "https://www.linkedin.com/company/resource-it-solutions/about/"
  },
  {
    date: "Agosto 2022 - Julio 2024",
    title: "Developer Fullstack Senior",
    company: "Banco Santander Chile",
    description:
      "Rediseñé módulo de Declaraciones Juradas y realicé primera Integración del Banco de una ApiGee IBM Watson ML en el Sistema de Tasaciones para obtener valores predictivos inmobiliarios, gestionando 30 y 50 solicitudes diarias con 100% de desempeño.",
  },
  {
    date: "Noviembre 2015 - Agosto 2022",
    title: "Analista Programador Semi Senior",
    company: "Banco Itaú Chile",
    description:
      "Lideré equipos de desarrollo en mantenimiento correctivo dentro del entorno .NET, asegurando continuidad operativa y resolución eficaz de incidencias en aplicaciones críticas promoviendo buenas prácticas y formación continua del equipo. Participé en la fusión de Banco Itaú y CorpBanca, migrando datos de clientes y productos, e implementando funcionalidades clave usando WCF .NET, SQL Server, BCP y procesos ETL (DTSX). Coordiné con áreas clave para una integración exitosa."    
  },
  {
    date: "Abril 2013 - Septiembre 2015",
    title: "Analista Programador Junior",
    company: "Intelligenxia Spa",
    description:
      "Participé en la migración completa de la plataforma OptimEyes, modernizando el 100% de los desarrollos desde ASP.NET WebForms hacia una arquitectura más eficiente con ASP.NET MVC, jQuery, JavaScript, optimizando el rendimiento de los reportes y mejorando la experiencia de usuario.",
    link: "https://www.linkedin.com/company/inteligenxia/about/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
