---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "September 2022 - Present",
    title: "Software Engineer",
    company: "Software Mind North America (Remote, United States)",
    description:
      "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
    link: "https://www.linkedin.com/in/david-burgos-bueso/",
  },
  {
    date: "Septiembre 2023 - Present",
    title: "Software Engineer",
    company: "The Rawlings Group (Via Sofware Mind, Remote, United States)",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
  {
    date: "Septiembre 2022 - Septiembre 2023",
    title: "Software Engineer",
    company: "Klicktrack (Via Sofware Mind, Remote, United States)",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
  {
    date: "November 2019 - September 2022",
    title: "Software Developer Jr",
    company: "Grupo Farsiman (Hybrid, Honduras)",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
