---
import ExperienceItem from "./ExperienceItem.astro";
import contentData from '@/data/content.json';
---

<ol class="relative mt-16">
  {
    contentData.experience.map((experience: any) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
