---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Nov 2020 - Current day",
    title: "Software Engineer II",
    company: "Wawandco SAS",
    description: [
      "Developed web applications using Go (Golang) within the Buffalo framework.",
      "Designed and implemented APIs and back-end functionalities in Go and Groovy using Micronaut Framework.",
      "Troubleshot and resolved production issues to ensure smooth system operation.",
      "Collaborated with front-end developers to code and integrate new UI elements and front-end features.",
    ],
  },
  {
    date: "Feb 2020 - JUN 2020",
    title: "PLM Consultant - Internship",
    company: "Cadtech CT solutions group – Madrid, Spain",
    description: [
      "Configuration of 3DExperience software",
      "Data customization",
      "Document formulation",
    ],
  },
  {
    date: "dic 2016 - JAN 2019",
    title: "Projects Engineer",
    company: "Intelpro SAS, Barranquilla, Colombia",
    description: [
      "Programming of PLC and HMI/SCADA systems.",
      "Direction of electrical assemblies.",
      "Design and assembly of Control boards",
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
