---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl } from 'src/i18n/utils.ts';
import experience from 'src/texts/experience.json';

const lang = getLangFromUrl(Astro.url); // Obtén el idioma de la URL
const content = experience[lang].experience; // Accede a las experiencias en el idioma correcto
---

<ol class="relative mt-16">
  {
    content.items.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>