---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "September 2022 - Present",
    title: "Software Engineer",
    company: "Software Mind North America (Remote, United States)",
    description:
      "Developement and maintenance of large scale module base solutions, hybrid apps and APIs with technologies such as Angular, Ionic, NodeJs, Express, Cypress, Cucumber, .NET Framework, .NET Core, SQL Server, MySQL, Postgres, GCP & Firebase Messaging.",
    link: "https://www.linkedin.com/in/david-burgos-bueso/",
  },
  {
    date: "Septiembre 2023 - Present",
    title: "Software Engineer",
    company: "The Rawlings Group (Via Sofware Mind, Remote, United States)",
    description:
      "Development and maintenance of large scale module base solution written in Angular v15+ and .NET Framework.",
      link: "https://www.linkedin.com/in/david-burgos-bueso/",
  },
  {
    date: "Septiembre 2022 - Septiembre 2023",
    title: "Software Engineer",
    company: "Klicktrack (Via Sofware Mind, Remote, United States)",
    description:
      "Development and maintenance of hybrid web applications with technologies such as Angular V14+, rxjs, Ionic V5+. Development and maintenance of APIs with technologies such as NodeJs, express, Postgres and GCP. Automated E2E testing with Cypress and Cucumber",
      link: "https://www.linkedin.com/in/david-burgos-bueso/",
  },
  {
    date: "November 2019 - September 2022",
    title: "Software Developer Jr",
    company: "Grupo Farsiman (Hybrid, Honduras)",
    description:
      "Design, develop and deploy backend and frontend applications with technologies and practices such as Scrum, Azure DevOps, Microservices, Angular, Ionic, Web Api with ASP NetCore, SQL Server MySQL, MongDB and Firebase Messaging.",
      link: "https://www.linkedin.com/in/david-burgos-bueso/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
