---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "2024",
    title: "Desarrollador Backend",
    company: "F5 Solutions E.I.R.L.",
    description:
     "Durante su tiempo en la empresa, ha trabajado en el desarrollo de proyectos internos como programador backend. Además, participó en grupo en el concurso de WeLatinas(Wempo), obteniendo el tercer lugar. Ha trabajado con las siguientes tecnologías: Python, PHP, PostgreSQL, Django, Laravel, Git, GitHub, Tailwind y Postman.",
    link: "https://drive.google.com/file/d/1FE2x-NvV48En6yXb4t6i2OcqzSLHShOC/view?usp=sharing",
  },
  {
    date: "2023",
    title: "Pasante Desarrollador de PHP",
    company: "Berklee S.A.C",
    description:
      "Durante su tiempo en la empresa, participó en la creación y mejora de la página web, que incluye el desarrollo del catálogo de productos y el sistema de registro para usuarios internos y externos. Además, desempeñó funciones como desarrollador backend con Laravel PHP, realizando APIs REST, validación de credenciales y creación de roles para un proyecto interno de la empresa.",
    link: "https://drive.google.com/file/d/11ttkRfT2PqeOvgAhRH6KB6fxL8C50bVI/view?usp=sharing",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
