---
import LinkInline from "./LinkInline.astro"

interface Props {
  title: string
  description: string
  link?: string
  date: string
}

const { title, description, link, date } = Astro.props
---
<div class="relative mx-12 pb-12 grid before:absolute before:left-[-25px] before:block before:h-full before:border-l-2 before:border-gray-200 dark:before:border-gray-800 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4 md:before:left-[-37px]">
  <div class="relative pb-12 md:col-span-2">
  <div class="sticky top-28">
    <svg class="dark:bg-gray-900 text-gray-400 dark:text-gray-700 bg-gray-100 absolute left-[-38px] ring-1 dark:ring-gray-700 ring-gray-200 rounded-full md:left-[-50px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"><path fill-rule="evenodd" d="M15.5 11.75a3.5 3.5 0 11-7 0 3.5 3.5 0 017 0zm1.444-.75a5.001 5.001 0 00-9.888 0H2.75a.75.75 0 100 1.5h4.306a5.001 5.001 0 009.888 0h4.306a.75.75 0 100-1.5h-4.306z" fill="currentColor"></path></svg>
    <h3 class="text-xl font-bold text-gray-700 dark:text-gray-200">{title}</h3>
    <time class="p-0 m-0 text-sm text-gray-700 dark:text-gray-300">{date}</time>
  </div>
  </div>
  <div class="relative flex flex-col gap-4 pb-4 text-gray-700 dark:text-gray-300 md:col-span-3">
    {description}
    {
      link && (
        <LinkInline href={link}>
          Sabes más{" "}
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
        </LinkInline>
      )
    }
  </div>
</div>

