---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "March 2021 - today",
    title: "FullStack Developer",
    company: "Capicua",
    description:
      "Development of web and Mobile applications. build software from scratch and discuss to improve the user experience. Technologies: React, Next.js, Node.js, NestJs, PostgreSQL and more.",
   //s link: "https://twitch.tv/midudev",
  },
  {
    date: "June 2020 - March 2021",
    title: "Lead Php Developer",
    company: "Somos Sistemas",
    description:
      "Responsible for the development and maintenance of the company's CMS Software Product. Technologies: PHP, Laravel, MySQL, JavaScript, jQuery, Bootstrap.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
