---
import ExperienceItem from "./ExperienceItem.astro";
import { Experience as EXPERIENCE } from "@/data/Experience";
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li class="">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
