---
const currentYear = new Date().getFullYear();
---

<footer class="site-footer">
  <p>
    &copy; {currentYear} Plantilla de
    <a href="https://porfolio.dev/" target="_blank" rel="noopener noreferrer"
      >porfolio.dev</a
    >
    de
    <a href="https://midu.dev/" target="_blank" rel="noopener noreferrer"
      >midudev</a
    > personalizada.
  </p>
</footer>
