---
const currentYear = new Date().getFullYear();
---

<footer
    class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
    <div
        class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center justify-center py-4"
    >
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
        >
            <li>
                <a
                    id="contact"
                    href="mailto:emjose.dev@gmail.com"
                    class="hover:underline">Contact</a
                >
            </li>
        </ul>
    </div>
</footer>
