<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      menu border border-black rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
    `}
  >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="#experiencia">Experiencia</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="#proyectos">Proyectos</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="#sobre-mi">Sobre mí</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="#contacto">Contacto</a
    >
  </nav>
</header>

<script>
  const observer = new IntersectionObserver(
      (entries) => {
          entries.forEach((entry) => {
              const id = entry.target.getAttribute("id");
              const link = document.querySelector(`.menu a[href="#${id}"]`);
              if (entry.isIntersecting) {
                link?.classList.add("bg-white/10");
              } else {
                link?.classList.remove("bg-white/10");
              }
          });
      },
      { rootMargin: "-30% 0px -70% 0px" },
  );

  const menuLinks = document.querySelectorAll(".menu a[href^='#']");

  menuLinks.forEach((menuLink) => {
      const hash = menuLink.getAttribute("href") ?? '';
      const target = document.querySelector(hash);
      if (target) {
          observer.observe(target);
      }
  });
</script>