<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contact</a>
  </nav>
</header>
