---
const personalImageAlt = "David Burgos"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/davidb.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/david-burgos-bueso/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Open to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm David Burgos
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-emerald-200 [&>strong]:text-emerald-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +5 years of experience. 
    <strong>Software Engineer</strong
    > from San Pedro Sula, Honduras 🇭🇳. I specialize in web, mobile, and backend development.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:dburgos834@gmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/david-burgos-bueso/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/DavidBurgos7">
      <GitHub class="size-4" />
      Github
    </SocialPill>
  </nav>
</div>
