---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import GitHubIcon from "./icons/GitHub.astro"
import SocialPill from "@/components/SocialPill.astro"
import CvIcon from "@/components/icons/Cv.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/rquagmare.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/bill-patrick-saravia-cayotopa/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
   Hola, Soy Bill Patrick Saravia Cayotopa
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    + 1 año de experiencia como desarrollador web. <strong
      >Backend Developer</strong
    > de Lima, Perú.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:bill.saravia1203@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/bill-patrick-saravia-cayotopa/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/BillSaravia">
      <GitHubIcon class="size-4" />
      Github
    </SocialPill>
    <SocialPill href="https://github.com/BillSaravia">
      <CvIcon class="size-4" />
      Download CV
    </SocialPill>
  </nav>
</div>
