---
const personalImageAlt = "Julian De Leon"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/julian-minw.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/julian-de-leon-barreneche/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >

    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    Hello, I'm Julian De Leon
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    Mechatronic engineer with emphasis and experience in <strong>software development and programming</strong>.  More than five (5) years of experience as an engineer have built a programmer with solid foundations, 
    resourceful in problem solving and with integrated assertive communication skills, which allows me to perform effectively within a work team. Planning, design, execution, testing and maintenance of engineering projects, 
    have been tasks in which I have succeeded during my career.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:julian.deleon94@gmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/julian-de-leon-barreneche/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
