---
const personalImageAlt = "Miguel 츼ngel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/midudev.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/midudev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy midudev
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +15 a침os de experiencia. <strong
      >Ingeniero de Software y Creador de Contenido sobre Programaci칩n</strong
    > de Barcelona, Espa침a 游쀯릖. Especializado en el desarrollo de aplicaciones web
    칰nicas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:miduga@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/midudev">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
