---
import { languages } from '@/i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="flex flex-row gap-1">
  {
    Object.entries(languages).map(([langPrefix, label]) => {     
      if (langPrefix == lang) return <></>
      return (
        <a
         href={translatePath("/", langPrefix)}
         class="hover:scale-125 transition"
         >{label}</a>)
    })
  }
</div>