---
const { href } = Astro.props
---

<a href={href} role="link" class="inline-flex items-center text-lg font-medium text-yellow-500 dark:text-yellow-200 dark:hover:text-yellow-300 hover:text-yellow-700">
  <slot />
</a>