---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import VideoRender from "./VideoRender.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "Video para NoEMEC Audiovisuales",
    description:
      "Video promocional para NoEMEC Audiovisuales. De visita por Valledupar, Colombia, la ciudad de la música vallenata.",
    link: "https://joralmo.pro/cypressShow.mp4",
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map((project) => (
      <VideoRender
        title={project.title}
        description={project.description}
        link={project.link}
      />
    ))
  }
</div>



