---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Node from "./icons/Node.astro"
import Express from "./icons/Express.astro"
import Stripe from "./icons/Stripe.astro"
import Twilio from "./icons/Twilio.astro"
import EC2 from "./icons/EC2.astro"
import MongoDB from "./icons/MongoDB.astro"
import Sendgrid from "./icons/Sendgrid.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NODE: {
    name: "Node Js",
    class: "bg-[#003159] text-white",
    icon: Node,
  },
  EXPRESS:{
    name: "Express Js",
    class: "bg-[#003159] text-white",
    icon: Express,
  },
  STRIPE:{
    name: "Stripe",
    class: "bg-[#003159] text-white",
    icon: Stripe,
  },
  TWILIO:{
    name: "Twilio",
    class: "bg-[#003159] text-white",
    icon: Twilio,
  },
  SENDGRID:{
    name: "Sendgrid",
    class: "bg-[#003159] text-white",
    icon: Sendgrid,
  },
  EC2:{
    name: "EC2",
    class: "bg-[#003159] text-white",
    icon: EC2,
  },
  MONGODB:{
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDB,
  },
}
const SKILLS = [
  {
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.NODE, TAGS.EXPRESS,TAGS.MONGODB, TAGS.STRIPE, TAGS.TWILIO, TAGS.SENDGRID, TAGS.EC2],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    SKILLS.map(({ tags}) => (
    <div class="flex flex-wrap mt-2">
        <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xl ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
    </div>
    ))
  }
</div>



