---
import Html from './icons/Html.astro'
import Css from './icons/Css.astro'
// import Tailwind from './icons/Tailwind.astro'

import CSharp from './icons/CSharp.astro'
import Python from './icons/Python.astro'
import JavaScript from './icons/JavaScript.astro'
// import Java from './icons/Java.astro'
import Php from './icons/Php.astro'
import Typescript from './icons/Typescript.astro'
// import Go from './icons/Go.astro'
// import Dart from './icons/Dart.astro'

import DotNet from './icons/DotNet.astro'
import Django from './icons/Django.astro'
import Laravel from './icons/Laravel.astro'
import NodeJS from './icons/NodeJS.astro'
import Express from './icons/Express.astro'
// import Nest from './icons/Nest.astro'
// import Flutter from './icons/Flutter.astro'

import MySql from './icons/Sql.astro'
import MongoDB from './icons/MongoDB.astro'
import PostgreSql from './icons/PostgreSql.astro'
import SqlServer from './icons/SqlServer.astro'

import Git from './icons/Git.astro'
import GitHub from './icons/GitHub.astro'
import Postman from './icons/Postman.astro'


const SKILLS = [
  {
    lang: 'HTML',
    icon: Html,
  },
  {
    lang: 'CSS',
    icon: Css,
  },
  {
    lang: 'C#',
    icon: CSharp,
  },
  {
    lang: 'Python',
    icon: Python,
  },
  {
    lang: 'JavaScript',
    icon: JavaScript,
  },
  {
    lang: 'PHP',
    icon: Php,
  },
  {
    lang: 'TypeScript',
    icon: Typescript,
  },
  {
    lang: '.NET',
    icon: DotNet,
  },
  {
    lang: 'Django',
    icon: Django,
  },
  {
    lang: 'Laravel',
    icon: Laravel,
  },
  {
    lang: 'NodeJS',
    icon: NodeJS,
  },
  {
    lang: 'Express',
    icon: Express,
  },
  {
    lang: 'MySQL',
    icon: MySql,
  },
  {
    lang: 'MongoDB',
    icon: MongoDB,
  },
  {
    lang: 'PostgreSQL',
    icon: PostgreSql,
  },
  {
    lang: 'SQL Server',
    icon: SqlServer,
  },
  {
    lang: 'Git',
    icon: Git,
  },
  {
    lang: 'GitHub',
    icon: GitHub,
  },
  {
    lang: 'Postman',
    icon: Postman,
  },
]

---

<div
  class="flex flex-row justify-between flex-wrap max-md:mx-10 max-md:justify-around items-center gap-8"
>
  {
    SKILLS.map((skill) => (
      <div class="flex flex-col justify-center items-center gap-3 transition hover:scale-110">
        <skill.icon class="w-9 h-12" />
        <span class="text-base">{skill.lang}</span>
      </div>
    ))
  }
</div>



<!-- https://www.svgrepo.com/ -->