---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Node from "./icons/Node.astro"
import Express from "./icons/Express.astro"
import JavaScript from "./icons/JavaScript.astro"
import HTML from "./icons/HTML.astro"
import CSS from "./icons/CSS.astro"
import MongoDB from "./icons/MongoDB.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import Sass from "./icons/Sass.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NODE: {
    name: "Node Js",
    class: "bg-[#003159] text-white",
    icon: Node,
  },
  EXPRESS:{
    name: "Express Js",
    class: "bg-[#003159] text-white",
    icon: Express,
  },
  JAVASCRIPT:{
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
  HTML:{
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: HTML,
  },
  BOOTSTRAP:{
    name: "Bootstrap",
    class: "bg-[#003159] text-white",
    icon: Bootstrap,
  },
  CSS:{
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
  MONGODB:{
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDB,
  },
  SASS:{
    name: "Sass",
    class: "bg-[#003159] text-white",
    icon: Sass,
  },
}
const SKILLS = [
  {
    tags: [TAGS.JAVASCRIPT, TAGS.NEXT, TAGS.TAILWIND, TAGS.NODE, TAGS.EXPRESS,TAGS.MONGODB, TAGS.HTML, TAGS.BOOTSTRAP, TAGS.CSS, TAGS.SASS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    SKILLS.map(({ tags}) => (
    <div class="flex flex-wrap mt-2">
        <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xl ${tag.class} py-2 px-3 `}
              >
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
    </div>
    ))
  }
</div>



