---
import SunIcon from "./icons/Sun.astro";
import MoonIcon from "./icons/Moon.astro";
import SystemIcon from "./icons/System.astro";

const THEMES = ["Light", "Dark", "System"];
---

<div class="theme-toggle">
  <button transition:persist id="theme-toggle-btn" class="theme-toggle__btn">
    <span class="sr-only">Elige el tema</span>
    <SunIcon id="light" class="theme-toggle-icon" />
    <MoonIcon id="dark" class="theme-toggle-icon" />
    <SystemIcon id="system" class="theme-toggle-icon" />
  </button>
  <div transition:persist id="themes-menu" class="theme-toggle__menu">
    <ul>
      {THEMES.map((theme) => <li class="themes-menu-option">{theme}</li>)}
    </ul>
  </div>
</div>

<script>
  type ThemePreference = "dark" | "light" | "system";

  const DARK: ThemePreference = "dark";
  const LIGHT: ThemePreference = "light";
  const SYSTEM: ThemePreference = "system";
  const THEME_STORAGE_KEY = "theme";

  let remove: (() => void) | null = null;
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");
  const themesMenu = document.getElementById("themes-menu") as HTMLDivElement;

  const getThemePreference = (): ThemePreference => {
    if (typeof localStorage !== "undefined") {
      return (
        (localStorage.getItem(THEME_STORAGE_KEY) as ThemePreference) ?? SYSTEM
      );
    }

    return matchMedia.matches ? DARK : LIGHT;
  };

  const updateIcon = (themePreference: ThemePreference): void => {
    document
      .querySelectorAll<HTMLElement>(".theme-toggle-icon")
      .forEach((element) => {
        element.style.scale = element.id === themePreference ? "1" : "0";
      });
  };

  const updateTheme = (): void => {
    if (remove != null) {
      remove();
    }
    matchMedia.addEventListener("change", updateTheme);
    remove = () => {
      matchMedia.removeEventListener("change", updateTheme);
    };

    const themePreference = getThemePreference();
    const isDark =
      themePreference === DARK ||
      (themePreference === SYSTEM && matchMedia.matches);

    updateIcon(themePreference);
    document.documentElement.classList.toggle("dark", isDark);
  };

  updateTheme();

  let abortController: AbortController | null = null;

  const attachListeners = () => {
    abortController?.abort();
    abortController = new AbortController();
    const { signal } = abortController;

    document.addEventListener(
      "click",
      () => themesMenu.classList.remove("open"),
      { signal },
    );

    document.getElementById("theme-toggle-btn")?.addEventListener(
      "click",
      (e) => {
        e.stopPropagation();
        const isClosed = !themesMenu.classList.contains("open");
        themesMenu.classList.toggle("open", isClosed);
      },
      { signal },
    );

    document
      .querySelectorAll<HTMLLIElement>(".themes-menu-option")
      .forEach((element) => {
        element.addEventListener(
          "click",
          (e) => {
            const target = e.target as HTMLElement;
            const theme = target.innerText
              .toLowerCase()
              .trim() as ThemePreference;
            localStorage.setItem(THEME_STORAGE_KEY, theme);
            updateTheme();
          },
          { signal },
        );
      });
  };

  attachListeners();

  document.addEventListener("astro:after-swap", () => {
    updateTheme();
    attachListeners();
    window.scrollTo({ left: 0, top: 0, behavior: "instant" });
  });
</script>
