---
const { className } = Astro.props;
---

<div class="title-section">
  <h2 class={`title-section__heading ${className ?? ""}`}>
    <slot />
  </h2>
  <div class="title-section__rule" aria-hidden="true"></div>
</div>
