---

---

<!-- list 4 icons in same horizontal line -->
<div class="w-full mx-auto max-w-screen-xl p-4 gap-4 flex filter grayscale items-center">
    <img class="w-42 h-36" src="companies/caixabank-logo.webp" alt="Logo Caixabank" />
    <img class="w-42 h-36" src="companies/eci-triangulo-logo.webp" alt="Logo El corte inglés" />
    <img class="w-42 h-20" src="companies/laligalogo.webp" alt="Logo La Liga" />
</div>

