---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="darkreader-lock" />
    <ClientRouter />
  </head>

  <body class="omen-body">
    <div class="omen-bg" aria-hidden="true"></div>
    <div class="omen-noise" aria-hidden="true"></div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
